<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>トリアージ画面</title>
        <link rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body>
        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">患者様への対応</h1>
            </header>
        </div>
        <div class="main-container">
            <div class="main wrapper clearfix">
                <div class="main-contents">
                    <section class="triage">
                        <div class="consultation">
                            <div class="title">
                                <h2>経過観察</h2>
                            </div>
                            <div class="comment">
                                <p>少し様子をみましょう。</p>
                                <p>必要であれば下記薬剤を使用してください。</p>
                                <ul class="medicine">
                                    <li class="medicine-list">薬剤1:</li>
                                    <li class="medicine-list">薬剤2:</li>
                                    <li class="medicine-list">薬剤3:</li>
                                    <li class="medicine-list">薬剤4:</li>
                                </ul>
                                <p>なかなか改善しない、<br>悪化する場合はご相談ください。</p>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="main-footer">
                    <ul>
                        <li><a href="javascript:history.back()">戻る</a></li>
                        <li><a href="../ record.html">終了</a></li>
                    </ul>
                </div>
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <p>©️ph-algo 2022</p>
            </footer>
        </div>
    </body>
</html>