<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>薬剤師のための診療アルゴリズム</title>
        <link rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body>
        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">title</h1>
                <!-- <nav>
                    <ul>
                        <li><a href="#">nav ul li a</a></li>
                        <li><a href="#">nav ul li a</a></li>
                        <li><a href="#">nav ul li a</a></li>
                    </ul>
                </nav> -->
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
                <div class="main-contents">
                    <section>
                        <h1>contents section h1</h1>
                        <p></p>
                    </section>
                    <section>
                        <h1>contents section h1</h1>
                        <p></p>
                    </section>
                </div>
                <div class="main-footer">
                    <ul>
                        <li><a href="javascript:history.back()">戻る</a></li>
                        <li><a href="../index.html">終了</a></li>
                    </ul>
                </div>
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <p>©️ph-algo 2022</p>
            </footer>
        </div>
    </body>
</html>