＊ {
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
}

/* home.htmlここから */
header {
  text-align: center;
}
.title {
  background-color: rgb(236, 236, 169);
  margin: 0 auto;
  font-size: 28px;
  border-radius: 15px;
  width: 50%;
  text-align: center;
}
.mode {
  text-align: center;
  margin: 40px;
}

.main-mode {
  margin: 30px;
}
.practice-mode {
  margin: 50px;
}

footer {
  text-align: center;
}

/* menuここから */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu-item {
  background-color: skyblue;
  text-align: center;
  padding: 10px;
  margin: 10px;
  width: 20%;
}
